#about-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10vh;
    gap: 2.2rem;
}

#about-title {
    margin-bottom: 0;
}

#title-p {
    color: black;
    align-self: center;
    max-width: 760px;
}

#about-container {
    max-width: 780px;
    text-align: left;
    box-sizing: border-box;
    background: #fff;
    padding: 1.1rem 2.2rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 8px #6B7280;
    background-color: #EFF6FF;
}

.eee-title {
    display: flex;
    align-items: center;
    gap: 2rem;
}

#about-p {
    max-width: 768px;
    margin-bottom: 0;
}

.about-p {
    margin-left: 5.3rem;
    margin-right: 1rem;
}

#vis-miss {
    display: flex;
    flex-direction: column;
    gap: 2.2remrem;
}

#vision,
#mission {
    max-width: 840px;
    text-align: left;
}