#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 5vh;
    font-weight:bolder;
    background-color: #1E40AF;
}

#logo {
    max-width: 160px;
}

#logo:hover {
    cursor: pointer;
}