#pilot-program {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: static;
    top: 0;
}

#pilot-hero,
#wte,
#deliverables,
#pilot-contact {
    min-height: 88vh;
    padding: 1rem 10rem;
    scroll-margin-top: 10vh;
}

#pilot-hero {
    display: flex;
    width: 100%;
    background-color: #EFF6FF;
    justify-content: center;
    align-items: center;
}

#pilot-hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1024px;
    gap: 3rem;
    text-align: left;
}

#pilot-hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#pilot-hero-img {
    max-height: 320px;
    flex: 1;
}

#pilot-hero-title {
    margin: 0;
}

#wte {
    margin-bottom: 10vh;
    padding: 5vh 0;
    align-self: center;
}

#wte-dash {
    display: flex;
    justify-content: center;
    gap: 2.2rem;
    max-width: 1280px;
    flex-wrap: wrap;
    padding-top: 5vh;
}

.wte-card {
    max-width: 420px;
    min-height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    background: #fff;
    padding: 2.2rem 2.2rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 8px #6B7280;
}

#deliverables {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    padding-bottom: 13vh;
    background-color: #EFF6FF;
    width: 100%;
}

#deliverables-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    gap: 3rem;
    padding-top: 5vh;
}

.deliverable-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    box-sizing: border-box;
    background: #fff;
    padding: 2.2rem 2.2rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 8px #6B7280;
    max-width: 380px;
    height: 300px;
}

.deliverable-card>h2,
.deliverable-card>h3 {
    margin-top: 0;
}

.wte-card-title,
.deliverable-card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.1rem;
}