#process {
    background-color: #EFF6FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#process-title {
    margin-top: 5vh;
    margin-bottom: 0;
}

.process-card {
    margin-top: 3rem;
    margin-bottom: 10vh;
    max-width: 760px;
    height: 380px;
    padding: 1.1rem 3rem;
    background: #fff;
    border-radius: 0.75rem;
    box-shadow: 0 4px 10px #6B7280;
    text-align: left;
}

.process-card:hover {
    cursor: grab;
}

.process-card-title {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0;
}

.slider-arrow {
    background: none;
    border: 1.5px solid #2563EB;
    color: #2563EB;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.slider-arrow:hover {
    color: white;
    background-color: #2563EB;
}

.slider-arrow.prev {
    left: -1rem;
}

.slider-arrow.next {
    right: -1rem;
}