#testimonials {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #EFF6FF;
}

.testimonial-card {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    max-width: 760px;
    height: 280px;
    padding: 1.5rem;
    background: #fff;
    border-radius: 0.75rem;
    box-shadow: 0 4px 10px #6B7280;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.signature {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 1.2rem;
    font-style: italic;
    margin-bottom: 1rem;
}

.name {
    font-weight: bold;
}

.title {
    font-weight: normal;
    color: #555;
}

#testimonial-image {
    width: 120px;
    border-radius: 50%;
}